.wholeArea{
    width: 100vw;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
div {
    width: 100%;
    margin: .25rem;
    font-size: 1.5rem;
}
h1{
    font-size: 4.25rem;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: fit-content;
    margin: .25rem;
    border: 5px solid black;
    padding: .5em;
}
.gameButtons button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 1.5;
    border: 3px ;
    border-radius: .5em;
    width: 5em;
    margin-top: 1em;
}
.gameButtons button:hover {
    background-color: #fd64a1b1; 
    color: white;
}
#betButtons {
    display: flex;
    width: fit-content;
    gap: .25rem;
}
#betButtons button {
    font-size: 1.25rem;
    padding: .75rem;
    background-color: black;
    color: white;
    border: 6px solid #FF6601;
    border-radius:100%;
    letter-spacing: 2px;
}
#betButtons button:hover {
    background-color: #FF6601; 
    color: white;
}
.bettingArea, .moneyScore {
    display: flex;
    width: fit-content;
}
.moneyScore {
    flex-direction: column;
    text-align: left;
    padding: .25em;
}

.bank, .betTotal{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: .25em;
}
.betTotal {
    margin-left: 5px;
}

.messageBox {
    display: flex;
    /* margin: .5em; */
}

.message {
    color: #FF6601;
    font-size: 2rem;
}
.gamePlay {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3em;
}
.dealerSeat, .playerSeat{
    /* padding: 1em; */
    width: auto;
    /* border: .25rem solid #FE5E9E; */
    /* border-radius: 2.5rem; */
}
.dScore, .pScore {
    padding: 1rem;
    width: 450px;
    font-size: 2.125rem;
    border: .25rem solid #fd64a15f;
    border-radius: 1rem;
    background-color: #FF6601;
    color: white;
    
}
.pHand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    /* margin: 1em; */
}
.dHand {
    margin: .5em;
    display: flex;
    gap: .25em;
}
.playCards {
    /* display:inline-flex; */
    width: 32.5;
}
img {
    border: 0.5rem outset #FF6601;
    border-radius: 15px;
    padding: 5px;
    max-width: 96px;
}
.hideButton {
    visibility: hidden;
}
.showButton {
    visibility: visible;
}
.hide {
    display: none;
} 
.show {
    display: inline-block;}

.footer {
    font-size: 1rem;
}

/* 

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  } */