
.wholeArea{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: auto;
}
div {
    border: 3px solid gray;
    width: 100%;

}
/* .card-img{
    max-width: 100%;
    height: auto;
    border: 45px solid green;
} */

h1{
    font-size: 50px;
    overflow: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* .gameButtons {

} */
.gameButtons button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: .5rem;
    margin: 3px;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
    line-height: 2;
    border-radius: 10px;
    width: 5em;
}
.gameButtons button:hover {
    background-color: rgb(240, 16, 184); 
    color: white;
  }

.dScore,.pScore {
    padding: 1rem;
    /* margin-bottom: 5px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    border: .25rem solid rgb(227, 20, 182);
    border-radius: 2.5rem;
    
}

.pHand, .dHand{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    border: 5px solid orange;
    width: fit-content;
    /* max-width: 450px; */
    /* height: 100%; */
    margin: .5em;
    gap: 10px;
    /* flex-direction: column; */

    }

.playCards {
    /* display:inline-flex; */
    width: 32.5;
}


img {
    border: 0.5rem outset rgb(223, 27, 161);
    border-radius: 15px;
    padding: 5px;
    max-width: 96px;
}
.dHand{
    padding-bottom: 12.5px;
}

.dealerSeat, .playerSeat{
    border: 8px solid rgb(4, 245, 132);
    width: 450px;
    height: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.message{
    color: rgb(255, 113, 42);
    font-size: 2.5rem;
    padding: 1rem;
    border: 3px solid red;
    width: fit-content;
    border-radius: 2rem;
  
}
/* .head{
} */
.gamePlay {
    font-size: 30px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 1rem; */
    width: 100%;
}

#betButtons {
    display: inline-flex;
    /* height: fit-content; */
    justify-content: center;
    /* flex-direction: row; */
    width: fit-content;
    align-items: center;
    gap: .25rem;
}
#betButtons button {
    font-size: 1.5rem;
    padding: 1.5rem;
    /* margin: .25em; */
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: center;
    border: 5px solid orange;
    letter-spacing: 2px;
    font-weight: bold;
    border-radius: 50%;
}
    #betButtons button:hover {
    background-color: rgb(23, 184, 130); 
    color: white;
}

.betTotal {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2.5px solid black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: white;
}

.bettingArea{
    /* padding: .5rem; */
    display: flex;
    /* flex-direction: column; */
    justify-content:flex-start;
    gap: .5em;
}

.moneyScore{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.bank {
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border: 2.5px solid green;
    padding: 10px;
    border-radius: 10px;

    background-color: white;
}
.hideButton {
    visibility: hidden;
}
.showButton {
    visibility: visible;
}
.hide {
    display: none;
} 
.show {
    display: inline-block;}



/* 

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  } */